@import url("style/header.css");
body {
    background-color: rgb(141, 80, 80);
}
.container img{
    max-width:200px;
    max-height: 100px;
    width:auto;
    height: auto;
    width: 40%;
    height: 40%;
}


h1 {
    color:rgb(148, 83, 83);
}

h2 {

    color:rgb(155, 97, 97);
    
}
footer{
    background-color:#191717;
    color:antiquewhite;
}