@import url("style/header.css");
body {
    background-color: rgb(252, 137, 4);
}
.container img{
    max-width:200px;
    max-height: 100px;
    width:auto;
    height: auto;
    width: 40%;
    height: 40%;
}


h1 {
    color:rgb(29, 249, 36);
}

h2 {

    color:rgb(51, 225, 115);
    
}
footer{
    background-color:#191717;
    color:antiquewhite;
}