@import url("style/header.css");
body {
    background-color: rgb(90, 36, 36);
}
.container img{
    max-width:200px;
    max-height: 100px;
    width:auto;
    height: auto;
    width: 40%;
    height: 40%;
}


h1 {
    color:rgb(94, 18, 18);
}

h2 {

    color:rgb(70, 31, 31);
    
}
footer{
    background-color:#191717;
    color:antiquewhite;
}